* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-family: "Playfair Display", serif;
    font-size: 1.6rem;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

main {
    min-width: 30rem;
    width: 80%;
    height: auto;
    margin: auto;
    padding-bottom: 3rem;
    
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.div-price {
    font-size: 2rem;
    font-weight: bold;
}

h1 {
    font-size: 6rem;
    font-weight: bolder;
    padding: 1rem;
    line-height: 1.15;
    margin: 2rem 0;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 2rem 0;
}

p {
    font-size: 1.5rem;
}

.btn {
    border: none;
    background-color: goldenrod;
    color: whitesmoke;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
}

.div-logo a img {
    width: 10rem;
    border-radius: 1rem;
}

.header-nav ul li {
    font-size: 2.5rem;
    padding: 2rem;
}

.div-redes {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.div-redes ul li img {
    width: 5rem;
}

.header-nav ul,
.div-redes ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 1rem;
}

.div-redes p {
    margin: none;
}

/* -------------------------------------------------------------------------- */
/*                                   COLORES                                  */
/* -------------------------------------------------------------------------- */

.background-primary {
    background-color: royalblue;
    font-weight: bold;
}

.background-secondary {
    background: url(../img/bg-chino.jpg);
}

.background-tertiary {
    background-color: whitesmoke;
}

.text-darkblue {
    color: darkblue;
}

.text-goldenrod {
    color: goldenrod;
}

/* -------------------------------------------------------------------------- */
/*                                   INICIO                                   */
/* -------------------------------------------------------------------------- */

.contenedor-productos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 25rem;
    height: 45rem;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card img {
    width: 100%;
    object-fit: cover;
}

/* -------------------------------------------------------------------------- */
/*                                  CONTACTOS                                 */
/* -------------------------------------------------------------------------- */

.titulo-contacto {
    margin: 2rem 0;
}

.form-contacto {
    max-width: 40rem;
    font-size: 2rem;
    padding: 1rem;
    align-self: center;
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-campo {
    display: flex;
    justify-content: space-between;
}

.form-campo input, .form-campo textarea {
    background-color: transparent;
    margin: 2rem;
    width: 30rem;
}

.form-campo textarea {
    min-height: 10rem;
    resize: vertical;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media (max-width: 600px) {
    header, footer {
        flex-direction: column;
    }
    header {
        width: 100%;
        position: fixed;
    }
    main {
        margin-top: 200px;
    }

}
